<included>

    <property name="log_file" value="${log_path}time-rolling" />

    <appender name="file_TimeBasedRollingPolicy" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_file}.log</file>
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${log_file}_%d{yyyy-MM-dd-HHmm}.log</fileNamePattern>
            <maxHistory>5</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <logger name="TimeBasedRollingPolicy" additivity="false">
        <appender-ref ref="file_TimeBasedRollingPolicy" />
    </logger>

</included>